[user]
    name = Tuan
    email = avixiii@proton.me

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    autocrlf = input
    whitespace = trailing-space,space-before-tab

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[merge]
    tool = nvim
    conflictstyle = diff3

[diff]
    tool = nvim
    colorMoved = default

[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    df = diff
    dc = diff --cached
